.topPhoto {
  display: block;
  margin-top: 75px;
  margin-left: 300px;
  /* margin-right: 100px; */
  width: 50%;
}

.wheel {
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

body {
  background: radial-gradient( circle, transparent 50%, black 150%), #146E20;
  height: 180px;
}

.buttons {
  position:absolute;
  width: 500px;
  height: 80px;
  margin-left: 900px;
  bottom:25px;
}
