body {
  background: radial-gradient( circle, transparent 50%, black 150%), #146E20;
  height: 180px;

}

.mainLogo {
  display: center;
  margin-top: 75px;
  margin-left: 500px;
  margin-right: 600px;
  width: 20%;
}

#header {
  margin-top: 50px;
  margin-left: 520px;
}

.map {
  margin-top: 25px;
  margin-left: 350px;
  margin-right: 350px;
}



.buttons {
  position:absolute;
  width: 500px;
  height: 80px;
  margin-left: 550px;
  bottom:25px;
}
